@import "settings";
@import "tools";
@import "vendors";
@import "objects";
@import "elements";
@import "components";
@import "patterns";

body {
    background: #FBFBFB;
    padding: 2em;
    font-size: 1em;
    box-sizing: border-box;

    
}
