$base-line-height: 1.75rem;
$futura-lt-condextraboldobl: "Futura LT CondExtraBoldObl";
$futura-lt-bold: "Futura LT Bold";
$futura-lt-book: "Futura LT Book";

$base-font-size: 1rem;
$ratio: 1.33; // Desktop

// Calculate values
$h5: $base-font-size * $ratio;
$h4: $h5 * $ratio;
$h3: $h4 * $ratio;
$h2: $h3 * $ratio;
$h1: $h2 * $ratio;

// Use interpolated Sass variables to set the CSS variables
:root {
    --font-size: #{$base-font-size};
    --ratio: #{$ratio};

    // More math - has to be actual variables for the media query to work
    --h5: calc(var(--font-size) * var(--ratio));
    --h4: calc(var(--h5) * var(--ratio));
    --h3: calc(var(--h4) * var(--ratio));
    --h2: calc(var(--h3) * var(--ratio));
    --h1: calc(var(--h2) * var(--ratio));
}

// Typography
@font-face {
    font-family: $futura-lt-condextraboldobl;
    font-weight: normal;
    font-style: normal;
    src: local($futura-lt-condextraboldobl), local("FuturaLT-CondExtraBoldObl"),
        url("./webfonts/FuturaLT-CondExtraBoldObl.woff") format("woff");
    font-display: block;
}

@font-face {
    font-family: $futura-lt-bold;
    font-weight: normal;
    font-style: normal;
    src: local($futura-lt-bold), local("FuturaLT-Bold"),
        url("./webfonts/FuturaLT-Bold.woff") format("woff");
    font-display: block;
}

@font-face {
    font-family: $futura-lt-book;
    font-weight: normal;
    font-style: normal;
    src: local($futura-lt-book), local("FuturaLT-Book"),
        url("./webfonts/FuturaLT-Book.woff") format("woff");
    font-display: block;
}
