// A component (namespace: c-) is a small feature that makes up a part of the website. Think buttons, accordions, sliders,
// modal dialogs, etc. Each component is fully functional by itself and does not rely on any other components. This fact
// should be considered when you name the component.
//
// For example, the button in the main section from the example above shouldn’t be called .c-main-button because main
// scopes it inside the main section and limits the use of it in other places, like a sidebar. Something like .c-btn
// is much nicer because the button is no longer tied to any other specific sections of the page.
.c-Nav {
    padding: 0;
    font-size: 0;

    a {
        position: relative;
        margin-left: $o-gutter * 1.5;
        padding-bottom: 13px;
        font-size: $base-font-size;
        font-family: $futura-bold;
        line-height: $base-line-height;
        letter-spacing: $base-font-size * .1875;
        text-transform: uppercase;

        @include for-phone-only {
            margin-left: $base-font-size;
        }

        &:first-child {
            margin-left: 0;
        }

        &::after {
            @include cubic-transition;
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background: $ink;
            backface-visibility: hidden;
            content: "";

            // Review this
            @at-root body.u-DarkMode & {
                background: $white;
            }
        }

        &.active::after,
        &:hover::after {
            width: 100%;
        }
    }
}

.c-Nav--Inner {
    padding-top: $o-gutter * 1.5;
    padding-bottom: $o-gutter * 1.5;
}

.c-Nav--Item {
    @include for-phone-only {
        padding-bottom: $base-font-size;
    }
}

.c-Intro {
    align-items: flex-end;
    padding: 0 0 $o-gutter * 2;
}

.c-Overview {
    @include header-delta;
}

.c-Portfolio {
    justify-content: normal;
}

.c-Portfolio--Content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    padding: $o-gutter;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.c-Portfolio--Title,
.c-Portfolio--Category {
    position: relative;
    display: block;
    margin-bottom: $base-line-height / 2;
    opacity: 0;
    transform: translateY(125%);
    transition: transform .5s, opacity .5s;
    z-index: 1;
}

.c-Portfolio--Background {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $white;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: center bottom;
    transition: opacity 0s, transform .3s cubic-bezier(.4,0,.2,1);
}

//@todo Create default animation class and state
.c-Portfolio--Item {
    position: relative;
    margin: 0;
    font-size: 0;

    &:hover {
        .c-Portfolio--Content {
            opacity: 1;
        }

        .c-Portfolio--Background {
            transform: scaleY(1);
        }

        .c-Portfolio--Title,
        .c-Portfolio--Category {
            opacity: 1;
            transform: translateY(0);
        }

        .c-Portfolio--Title {
            transition-delay: .1s;
        }

        .c-Portfolio--Category {
            transition-delay: .3s;
        }
    }
}

.c-Project {
    font-size: 0; // Remove any lingering white-space
}

.c-Project--Header {
    position: relative;
}

// .c-Project--Title {
//     @include for-tablet-landscape-down {
//         position: static;
//     }

//     @include for-tablet-landscape-up {
//         position: absolute;
//         width: 1px; // Force the text to wrap - review and test this in browsers.
//         top: $o-gutter * 2.5;
//         left: -#{$o-gutter * 2};
//         z-index: 1;
//     }
// }
.c-Project--Category {
    @include header-delta;
    text-align: right;

    // @include for-tablet-landscape-down {
    //     position: static;
    // }

    // @include for-tablet-landscape-up {
    //     position: absolute;
    //     width: auto;
    //     bottom: $o-gutter * 2.5;
    //     right: -#{$o-gutter * 2};
    //     margin: 0;
    //     text-align: center;
    //     z-index: 1;
    // }
}

.c-Project--Copy {
    margin: 0 auto;
    padding: $o-gutter * 4 0 $o-gutter * 3;

    @include for-tablet-landscape-down {
        padding: $o-gutter * 3 0 $o-gutter * 3;
    }
}

.c-Project--Overview {
    margin: 0 0 $o-gutter * 2;
}

.c-Btn {
    @include cubic-transition;
    position: relative;
    display: inline-block;
    padding: 9px $o-gutter * 1 8px;
    border: 2px solid $ink-lighter;
    font-size: $base-font-size; // IE fallback
    font-size: var(--font-size);
    font-family: $futura-book;
    color: $white;
    text-align: center;
    line-height: $base-line-height;
    border-radius: $o-gutter * 2.5;
    background: none;
    appearance: none;
    cursor: pointer;

    &:hover {
        border-color: $white;
        color: $white;
    }

    &:focus {
        outline: none;
    }
}

.c-Modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .9);
}

/* Modal Content (Image) */
.c-Modal--Content {
    position: relative;
    display: block;
    padding-top: #{$o-gutter * 2.5};
    text-align: center;
    animation-name: fadeInUp;
    animation-duration: .5s;
}

.c-Modal--Close {
    position: absolute;
    top: 14px;
    right: 0;
    background: none;
    border: 0;
    font-size: $h3;
    appearance: none;
}

.c-Modal--Close:hover,
.c-Modal--Close:focus {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
