// Elements (namespace: e-) are the HTML native elements which we would not style based on the class names. For example,
// we should provide default styles to <a> element rather than .link class.
html {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
    margin-top: 0;
    margin-bottom: $base-line-height;
    color: $ink;
    -webkit-font-smoothing: antialiased;
}

h1 {
    @include header-alpha;
}

h2 {
    @include header-bravo;
}

h3 {
    @include header-charlie;
}

h4 {
    @include header-delta;
}

h5 {
    @include header-echo;
}

p,
li {
    font-size: $base-font-size; /* IE fallback */
    font-size: var(--font-size);
    font-family: $futura-book;
    font-display: auto;
    color: $ink-lighter;
    line-height: $base-line-height;
}

a {
    text-decoration: none;
    color: $ink;
}

ul {
    margin: 0 0 $base-line-height;
    padding: 0;
    list-style: none;

    li {
        margin-bottom: $base-line-height / 2;
    }
}

// @todo Remove this / re-apply the small ratio
// See https://gitlab.com/shoobzy/iamstevehobbs/commit/635c561380516833c6baa8c268c17543191e6edc#5140f1fbd1f37aad72a7aafef8cef5288d63b062_57_55
// @include for-tablet-landscape-down {
//     :root {
//         --ratio: var(--ratio-sm);
//     }
// }
