// Elements (namespace: e-) are the HTML native elements which we would not style based on the class names. For example,
// we should provide default styles to <a> element rather than .link class.
html {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
    margin-top: 0;
    margin-bottom: $base-line-height;
    color: $ink;
    -webkit-font-smoothing: antialiased;
}

h1 {
    @include header-one;
}

h2 {
    font-size: $h2;
    font-size: var(--h2);
    font-family: $futura-condextraboldobl;
    line-height: $base-line-height * 1.5;
    text-transform: uppercase;

    @include for-tablet-landscape-down {
        font-size: $h3;
        line-height: $base-line-height * 1.25;
    }
}

h3 {
    font-size: $h3;
    font-size: var(--h3);
    font-family: $futura-condextraboldobl;
    line-height: $base-line-height * 1.5;
    text-transform: uppercase;

    @include for-tablet-landscape-down {
        font-size: $h4;
    }
}

h4 {
    font-size: $h4;
    font-size: var(--h4);
    line-height: $base-line-height * 1.5;
    font-family: $futura-book;

    @include for-tablet-landscape-down {
        font-size: $h5;
        line-height: $base-line-height;
    }
}

h5 {
    font-size: $h5;
    font-size: var(--h5);
    font-family: $futura-bold;
    line-height: $base-line-height;
    letter-spacing: $base-font-size * .1875;
    text-transform: uppercase;
}

p,
li {
    font-size: $base-font-size; /* IE fallback */
    font-size: var(--font-size);
    font-family: $futura-book;
    color: $ink-lighter;
    line-height: $base-line-height;
}

a {
    text-decoration: none;
    color: $ink;
}

ul {
    margin: 0 0 $base-line-height;
    padding: 0;
    list-style: none;

    li {
        margin-bottom: $base-line-height / 2;
    }
}

@include for-tablet-landscape-down {
    :root {
        --ratio: var(--ratio-sm);
    }
}
