@use "settings" as settings;
@use "tools" as tools;
@use "sass:math";

html {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

body {
    margin: 0;
    padding: 0;
}

// Elements (namespace: e-) are the HTML native elements which we would not style based on the class names. For example,
// we should provide default styles to <a> element rather than .link class.
h1,
h2,
h3,
h4,
h5,
p,
a,
li {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: settings.$base-line-height;
    color: settings.$ink;
    -webkit-font-smoothing: antialiased;
}

h1 {
    @include tools.header-alpha;
}

h2 {
    @include tools.header-bravo;
}

h3 {
    @include tools.header-charlie;
}

h4 {
    @include tools.header-delta;
}

h5 {
    @include tools.header-echo;
}

p,
li {
    font-size: settings.$base-font-size; /* IE fallback */
    font-size: var(--font-size);
    font-family: settings.$futura-lt-book;
    color: settings.$ink-lighter;
    line-height: settings.$base-line-height;
}

a {
    text-decoration: none;
    color: settings.$ink;
}

ul {
    margin: 0 0 settings.$base-line-height;
    padding: 0;
    list-style: none;

    li {
        margin-bottom: math.div(settings.$base-line-height, 2);
    }
}
