@use "settings" as settings;
@use "tools" as tools;

// Objects (namespace: o-) are used for design patterns, such as layouts, where items are being arranged rather than
// decorated.
.o-Container {
    max-width: settings.$o-container;
    margin: 0 auto;
    padding: settings.$o-gutter * 2.25 settings.$o-gutter * 2 0;

    @include tools.for-desktop-down {
        max-width: calc(#{settings.$o-container} - #{settings.$o-gutter * 4});
        padding: #{settings.$o-gutter * 2} #{settings.$o-gutter * 3} 0;
    }

    @include tools.for-tablet-landscape-down {
        padding: #{settings.$o-gutter * 2} #{settings.$o-gutter * 1.25} 0;
    }
}

.o-Grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    &.flex-normal {
        align-items: normal;
    }

    &.column {
        flex-direction: column;
    }
}

.o-Grid--Item {
    width: 100%;
}

.o-Footer {
    text-align: center;
}

.\31\/2-TabletPortraitUp {
    @include tools.for-tablet-portrait-up {
        width: 50%;
    }
}

.\31\/2-TabletPortraitUp-WithGutter {
    @include tools.for-tablet-portrait-up {
        width: calc(50% - #{settings.$o-gutter});
    }
}

.\31\/3-TabletLandscapeUp {
    @include tools.for-tablet-landscape-up {
        width: 33.333%;
    }
}

.\32\/3-TabletPortraitUp {
    @include tools.for-tablet-portrait-up {
        width: 66.666%;
    }
}
