// Objects (namespace: o-) are used for design patterns, such as layouts, where items are being arranged rather than
// decorated. Object classes are used across all pages, so if you make any changes to the object classes, you should be
// very careful because any changes are going to affect each and every page throughout the website.
//
// The most common object classes I use are:
//
// .o-page: the most outer container which usually contains max-width: 100vw and overflow: hidden.
// .o-main: the outer container for the main area.
// .o-container: the outer container for components and it usually provides a fixed width.
// .o-content: in case if any extra configuration is needed for the actual content area.
// .o-grid: if a grid layout with different number of columns are required.
$o-container: 1098px;
$o-gutter: 28px;

.o-Page {
    background: $white;
}

.o-Container {
    max-width: $o-container;
    margin: 0 auto;
    padding: $o-gutter * 2.25 $o-gutter * 2;
    // box-sizing: border-box;

    @include for-tablet-landscape-down {
        padding: #{$o-gutter * 2} #{$o-gutter * 1.25};
    }
}

.o-Grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.o-Grid--Item {
    width: 100%;
}

.\31\/3-TabletPortraitUp-WithGutter {
    @include for-tablet-portrait-up {
        width: calc(33.333% - #{$o-gutter});
    }
}

.\31\/2-TabletPortraitUp {
    @include for-tablet-portrait-up {
        width: 50%;
    }
}

.\31\/2-TabletPortraitUp-WithGutter {
    @include for-tablet-portrait-up {
        width: calc(50% - #{$o-gutter});
    }
}

.\31\/3-TabletLandscapeUp {
    @include for-tablet-landscape-up {
        width: 33.333%;
    }
}

.\32\/3-TabletPortraitUp-WithGutter {
    @include for-tablet-portrait-up {
        width: calc(66.666% - #{$o-gutter});
    }
}
