.p-Nav {
    padding: 0;
    font-size: 0;

    a {
        position: relative;
        margin-left: $o-gutter * 1.5;
        padding-bottom: 13px;
        font-size: $base-font-size;
        font-family: $futura-bold;
        font-display: auto;
        line-height: $base-line-height;
        letter-spacing: $base-font-size * .1875;
        text-transform: uppercase;

        @include for-phone-only {
            margin-left: $base-font-size;
            font-size: $base-font-size * .875;
        }

        &:first-child {
            margin-left: 0;
        }

        &::after {
            @include cubic-transition;
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: $ink;
            backface-visibility: hidden;
            content: "";
            pointer-events: none;

            // Review this
            @at-root body.u-DarkMode & {
                background: $white;
            }
        }

        &.active::after,
        &:hover::after {
            width: 80%;
        }
    }
}

.p-Nav--Inner {
    padding-top: $o-gutter * 1.5;
    padding-bottom: $o-gutter * 1.5;
}

.p-Nav--Item {
    @include for-phone-only {
        width: 100%;
        padding-bottom: $base-font-size;
        text-align: center;
    }
}
