.p-Nav {
    padding: 0;
    font-size: 0;
}

.p-Nav--Inner {
    position: relative;
    padding: $o-gutter * 1.5;
}

.p-Nav--Logo {
    position: absolute;
    top: 42px;
    background: url("./images/sh-monogram--dark.svg") 0 0 no-repeat;
    width: 68px;
    height: 49px;

    @at-root .u-DarkMode & {
        background: url("./images/sh-monogram--white.svg") 0 0 no-repeat;
    }
}

.p-Nav--Item {
    @include for-phone-only {
        margin-bottom: $o-gutter / 2;
    }

    a {
        position: relative;
        margin-left: $o-gutter * 1.5;
        padding-bottom: 13px;
        font-size: $base-font-size * .875;
        font-family: $futura-lt-bold;
        line-height: $base-line-height;
        letter-spacing: $base-font-size * .1875;
        text-transform: uppercase;

        @include for-phone-only {
            margin-left: $o-gutter;
            font-size: $base-font-size * .75;
        }

        &:first-child {
            margin-left: 0;
        }

        &::after {
            @include cubic-transition;
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: $ink;
            backface-visibility: hidden;
            content: "";
            pointer-events: none;

            // Review this
            @at-root body.u-DarkMode & {
                background: $white;
            }
        }

        &.active::after,
        &:hover::after {
            width: 80%;
        }
    }
}
