// Settings are generally a collection of variables that do not generate CSS, but are applied to classes. Some examples include:
//
// Base
// Color
// @todo Rename these
$white: #fff;
$off-white: #F4F4F4;
$ink: #303245;
$ink-lighter: #4e525d;

// Typography
@font-face {
    font-family: "futura_ltcondextraboldobl";
    font-display: auto;
    src: local(sans-serif),
        url("./webfonts/futuralt-condextraboldobl-webfont.woff2") format("woff2"),
        url("./webfonts/futuralt-condextraboldobl-webfont.woff") format("woff"),
        url("./webfonts/futuralt-condextraboldobl-webfont.svg#futura_ltcondextraboldobl") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "futura_ltbold";
    font-display: auto;
    src: local(sans-serif),
        url("./webfonts/futuralt-bold-webfont.woff2") format("woff2"),
        url("./webfonts/futuralt-bold-webfont.woff") format("woff"),
        url("./webfonts/futuralt-bold-webfont.svg#futura_ltbold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "futura_ltbook";
    font-display: auto;
    src: local(sans-serif),
        url("./webfonts/futuralt-book-webfont.woff2") format("woff2"),
        url("./webfonts/futuralt-book-webfont.woff") format("woff"),
        url("./webfonts/futuralt-book-webfont.svg#futura_ltbook") format("svg");
    font-weight: normal;
    font-style: normal;
}

$base-line-height: 1.75rem;
$futura-condextraboldobl: "futura_ltcondextraboldobl", sans-serif;
$futura-bold: "futura_ltbold", sans-serif;
$futura-book: "futura_ltbook", sans-serif;

$base-font-size: 1rem;
$ratio: 1.33; // Desktop

// Calculate values
$h5: $base-font-size * $ratio;
$h4: $h5 * $ratio;
$h3: $h4 * $ratio;
$h2: $h3 * $ratio;
$h1: $h2 * $ratio;

// Use interpolated Sass variables to set the CSS variables
:root {
    --font-size: #{$base-font-size};
    --ratio: #{$ratio};

    // More math - has to be actual variables for the media query to work
    --h5: calc(var(--font-size) * var(--ratio));
    --h4: calc(var(--h5) * var(--ratio));
    --h3: calc(var(--h4) * var(--ratio));
    --h2: calc(var(--h3) * var(--ratio));
    --h1: calc(var(--h2) * var(--ratio));
}
