// Settings are generally a collection of variables that do not generate CSS, but are applied to classes. Some examples include:
//
// Base
// Color
// @todo Rename these
$white: #fff;
$off-white: #F4F4F4;
$ink: #303245;
$ink-lighter: #4e525d;

$base-line-height: 1.75rem;
$futura-lt-condextraboldobl: "Futura LT CondExtraBoldObl", sans-serif;
$futura-lt-bold: "Futura LT Bold", sans-serif;
$futura-lt-book: "Futura LT Book", sans-serif;

$base-font-size: 1rem;
$ratio: 1.33; // Desktop

// Calculate values
$h5: $base-font-size * $ratio;
$h4: $h5 * $ratio;
$h3: $h4 * $ratio;
$h2: $h3 * $ratio;
$h1: $h2 * $ratio;

// Use interpolated Sass variables to set the CSS variables
:root {
    --font-size: #{$base-font-size};
    --ratio: #{$ratio};

    // More math - has to be actual variables for the media query to work
    --h5: calc(var(--font-size) * var(--ratio));
    --h4: calc(var(--h5) * var(--ratio));
    --h3: calc(var(--h4) * var(--ratio));
    --h2: calc(var(--h3) * var(--ratio));
    --h1: calc(var(--h2) * var(--ratio));
}

// Typography
@font-face {
    font-family: $futura-lt-condextraboldobl;
    src: local($futura-lt-condextraboldobl), local("FuturaLT-CondExtraBoldObl"), url("./webfonts/FuturaLT-CondExtraBoldObl.woff") format("woff");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $futura-lt-bold;
    src: local($futura-lt-bold), local("FuturaLT-Bold"), url("./webfonts/FuturaLT-Bold.woff") format("woff");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $futura-lt-book;
    src: local($futura-lt-book), local("FuturaLT-Book"), url("./webfonts/FuturaLT-Book.woff") format("woff");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
