// Tools also will not produce any CSS yet and are typically preprocessor functions that help write or extend properties on classes:
// Functions
// Placeholders
// Mixins
// Media queries
@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-down {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1600px) {
        @content;
    }
}

@mixin header-setup(
    $font-size,
    $font-size-var,
    $font-family,
    $line-height,
    $text-transform: null
) {
    font-size: $font-size;
    font-size: $font-size-var;
    font-family: $font-family;
    line-height: $line-height;
    text-transform: $text-transform;
    @content;
}

// @todo Create all header mixins
@mixin header-one {
    @include header-setup(
        $h1,
        var(--h1),
        $futura-condextraboldobl,
        $base-line-height * 2,
        uppercase
    );

    @include for-tablet-landscape-down {
        font-size: $h2;
        line-height: $base-line-height * 1.5;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@mixin cubic-transition {
    transition: all .3s cubic-bezier(.4, 0, .2, 1);
}

.fadeInUp,
.fadeInUp-appear,
.fadeInUp-enter {
    animation-name: fadeInUp;
    animation-duration: .5s;
}

.fadeInUp-appear-active,
.fadeInUp-enter.fadeInUp-enter-active {
    @include cubic-transition;
    opacity: 1;
    transform: translateY(0);
    // transition: opacity 500ms linear 150ms, transform 500ms ease-out 150ms;
}

.fadeInUp-exit {
    opacity: 1;
    transform: translateY(0);
}

.fadeInUp-exit.fadeInUp-exit-active {
    opacity: 0;
    transition: opacity 0s linear, transform 0s ease-in;
}

// .fadeInUp-appear h1,
// .fadeInUp-enter h1 {
//     animation-name: fadeInUp;
//     animation-delay: .3s;
//   transform: translateY(-5px);
//   opacity: 0;
// }
// .fadeInUp-appear-active,
// .fadeInUp-enter.fadeInUp-enter-active {
//   opacity: 1;
//   transform: translateY(0);
//   transition: opacity 300ms linear 150ms, transform 300ms ease-out 150ms;
// }
// .fadeInUp-appear-active h1,
// .fadeInUp-enter.fadeInUp-enter-active h1 {
//   transform: translateY(0);
//   opacity: 1;
// }
// .fadeInUp-appear-active h1:nth-child(2),
// .fadeInUp-enter.fadeInUp-enter-active h1:nth-child(2) {
//   transition: opacity 300ms linear 300ms, transform 300ms ease-out 300ms;
// }
// .fadeInUp-appear-active h1:nth-child(3),
// .fadeInUp-enter.fadeInUp-enter-active h1:nth-child(3) {
//   transition: opacity 300ms linear 400ms, transform 300ms ease-out 400ms;
// }
// .fadeInUp-appear-active h1:nth-child(4),
// .fadeInUp-enter.fadeInUp-enter-active h1:nth-child(4) {
//   transition: opacity 300ms linear 500ms, transform 300ms ease-out 500ms;
// }
// Some helpers
.h-MarginTrailer--x3 {
    margin-bottom: $base-line-height * 3;
}

.h-ResponsiveImg {
    width: 100%;
    height: auto;
}
