@use "settings" as settings;

.u-Animate {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.u-DarkMode {
    background: settings.$ink;
}

.u-Foreground {
    color: settings.$white;
}

.u-TextCenter {
    text-align: center;
}

.u-ModalOpen {
    overflow: hidden;
}
